@media (min-width: 992px) {
  .lg-start-0 {
    left: 0 !important;
    right: initial !important;
  }

  .lg-end-0 {
    left: initial !important;
    right: 0 !important;
  }

  .lg-bottom-0 {
    top: initial !important;
    bottom: 0 !important;
  }
}

.flex-gap {
  gap: 16px;
}

.overlay {
  mix-blend-mode: difference;
  z-index: 20;
}

.carousel-indicators {
  gap: 0px;
  mix-blend-mode: difference;
}

.carousel-indicators > button {
  opacity: 0 !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
}

.carousel-indicators > button.active {
  opacity: 1 !important;
}

.carousel-item {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(1) {
  background-image: url("img/bg1.jpg");
}

.carousel-item:nth-child(2) {
  background-image: url("img/bg2.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("img/bg3.jpg");
}

.carousel-item:nth-child(4) {
  background-image: url("img/bg4.jpg");
}

.carousel-item:nth-child(5) {
  background-image: url("img/bg5.jpg");
}

.carousel-item:nth-child(6) {
  background-image: url("img/bg6.jpg");
}

.carousel-item:nth-child(7) {
  background-image: url("img/bg7.jpg");
}

#slideshow {
  z-index: 10;
}

#logo {
  width: 50px;
  height: 50px;
}

/* Works only on Chromium-based browsers */
@property --timer-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.timer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: radial-gradient(transparent 65%, white 70%);
  -webkit-mask-image: conic-gradient(transparent var(--timer-percentage), white 0);
  mask-image: conic-gradient(transparent var(--timer-percentage), white 0);
}

.ticking1 {
  animation: ticking 5.98s linear forwards;
}

.ticking2 {
  transform: scaleX(-1);
  animation: ticking 5.98s linear reverse forwards;
}

@keyframes ticking {
  from {
    --timer-percentage: 0%;
  }
  to {
    --timer-percentage: 100%;
  }
}


/* Disable for Firefox */
@-moz-document url-prefix() {
  .timer {
    background-image: none;
    mask-image: none;
    animation: none;
  }
}

@media (min-width: 992px) {
  .carousel-indicators {
    gap: 16px;
  }

  .carousel-indicators:hover > button {
    opacity: 0.5 !important;
  }

  .carousel-indicators > button.active {
    opacity: 1 !important;
  }

  #logo {
    width: 80px;
    height: 80px;
  }
  
  #logo > img {
    width: 80px;
    height: 80px;
  }

  .timer {
    width: 80px;
    height: 80px;
  }
}
